/*extra resets
Apply a natural box layoour models to all elements, */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Typography */

p {
    color: #2d2d2d;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
}

h2 {
    font-size: 30px;
    

}
h1 {
    font-family: 'Playfair Display'; 
    font-size: 80px;
    
    

}

/* common layout classes*/
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto; /* to center the element */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-small {
    max-width: 740px;
    width: 100%;
    margin: 0 auto; /* to center the element */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* header area */
header {
    width: 100%;
    padding: 20px;
    margin: 30px 0px 30px 0px;
    display: flex;
    align-items: flex-end;
    Justify-content:space-between;  
}


/* banner area */
.banner {
    
    padding: 100px 0px;
    background-image: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: contain, cover;
    text-align: center;
    color: white;

}

a hover {
    color: red;
}

.alohaproducts a {
    background-image: url(images/mens-category.jpg);
    display: flexbox;
    flex-wrap: wrap;
    padding: 30px;
}

.logo {
    width: 100px;

}

.cart {
    width: 100px;
}

.nav {
    width: 50px;
    justify-content: space-between;
}

.nav-container {
    flex-grow: 1;
}
footer {
    padding: 20px;
    margin: 30px 0px 30px 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    font-size: 16px;
}
body {
    font-family: 'Raleway-Light';
    color: #2d2d2d;

}

.fab {
    color: #e2574c;
    font-size: 32px;
}
.fab:hover {
    color:#070101;
}


.footer-social-media i {
    padding-right: 25px;
    width: 10px
}